*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.box{
    width: 240px;
    height: 600px;
    border: 30px solid blue;
    box-shadow: 8px 6px 9px black;
    background-color: antiquewhite;
    color: blue;
    font-size: 20px;
    font-weight: 900;
    border-radius: 30px;
    padding: 10px 14px;
}

.image img {
    width: 300px;
    height: 350px;
    box-shadow: 13px 12px 10px black;
    border-radius: 7px;
}

.image{
    position: relative;
    top: 100px;
    width: 400px;
    height: 440px;
    background-color: antiquewhite;
    box-shadow: 5px 5px 10px black;
    border: 20px solid red;
    border-radius: 12px;
    padding: 19px 30px;
}